<div class="mat-typography login-form-wrapper" fxFlex="100">
    <div class="header" fxLayout="row" fxLayoutAlign="center center">
      <h2>Login Form</h2>
    </div>
    <form [formGroup]="loginForm" fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxFlex="30">
        <mat-form-field class="username">
          <input type="text" matInput placeholder="Username" formControlName="username">
        </mat-form-field>
        <mat-form-field class="password">
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end end">
          <button mat-raised-button	color="primary" (click)="login()">Login</button>
        </div>
      </div>
    </form>
</div>