<div class="mat-typography update-post-form-wrapper" fxFlex="100">
    <div class="header" fxLayout="row" fxLayoutAlign="center center">
      <h2>Update Form</h2>
    </div>
    <form [formGroup]="updatePostForm" fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxFlex="30">
        <mat-form-field>
          <input type="text" matInput placeholder="Title" formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <textarea matInput class="content" placeholder="Content" formControlName="content"></textarea>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end end">
          <button mat-raised-button	color="primary" (click)="updatePost()">Update</button>
        </div>
      </div>
    </form>
</div>