<mat-toolbar color="primary">
    <button mat-button routerLink='/dashboard'>Dashboard</button>
    <span class="fill-remaining-space"></span>
    <button *ngIf="!userIsAuthenticated" mat-button routerLink='/register'>Register</button>
    <button *ngIf="!userIsAuthenticated" mat-button routerLink='/login'>Login</button>
    <button *ngIf="userIsAuthenticated" mat-button routerLink='/create'>Create</button>
    <button *ngIf="userIsAuthenticated" mat-button (click)='onLogout()'>Logout</button>
</mat-toolbar>